/* Assets
// --------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Muli|Roboto+Mono|Roboto+Slab');


/* Elements
// --------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

html,
body {
  font:       16px/1.33 Muli, sans-serif;
  margin:     0;
  padding:    0;
  min-height: 1000px;
}

body {
  align-items:     center;
  background:      #b6c6c9;
  justify-content: center;
  display:         flex;
  flex-direction:  column;
  min-height:      100vh;
  text-align:      center;
}

main {
  background:      #fff;
  box-shadow:      0 1px 4px rgba(0,0,0,0.1);
  color:           #222;
  display:         flex;
  flex-direction:  column;
  height:          50vh;
  justify-content: center;
  margin:          0;
  min-height:      20rem;
  min-width:       20rem;
  padding:         3rem;
  position:        relative;
  width:           67vh;
  z-index:         1;
}

.body-background {
  background-position: 50% 50%;
  background-size:     cover;
  bottom:              0;
  left:                0;
  position:            fixed;
  right:               0;
  top:                 0;
}

h1 {
  color:       #3f5555;
  font-family: serif;
  font-size:   2.5rem;
  font-weight: 200;
}
h1:first-child,
p:first-child {
  margin-top: 0;
}
h1:last-child,
p:last-child {
  margin-bottom: 0;
}


/* Reusable Styles
// --------------------------------------------------------------------- */

.note {
  color: #999;
}


/* Themes
// --------------------------------------------------------------------- */

body.technical main header h1 {
  font-family: 'Roboto Mono', monospace;
}