/* Assets
// --------------------------------------------------------------------- */


/* Basic Elements
// --------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

::selection {
  background-color: #00CCFF;
  color: #000;
}

a,
a:visited,
a:link,
a:active {
  color: #00CCFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}


/* Form Styles
// --------------------------------------------------------------------- */

a.button-cta,
button.button-cta,
input[type="button"].button-cta {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 0.84375rem;
  background-color: #19171D;
  display: inline-block;
  border-radius: 0.3em;
  padding: 1em 2.5em;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0.133em 0 #00CCFF;
}


/* Site Components
// --------------------------------------------------------------------- */

